
@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('./assets/fonts/Rubik-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('./assets/fonts/Rubik-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
